<div class="span2 galery">
    <div ng-click="loadVideo('{{ video.vid }}')">
        <div class="video">
            <img src="http://img.youtube.com/vi/{{ video.vid }}/hqdefault.jpg"/>
        </div>
        <div class="title">
            <a class="group" rel="group1" href="#">{{ video.name }}</a>
        </div>
    </div>
    <div class="count">
        <ul class="pull-left">
            <li rel="tooltip" title="Comments"><i class="icon-comment"></i> -</li>
            <li rel="tooltip" title="Uploader"><i class="icon-user"></i> limi</li>
            <li rel="tooltip" title="Uploaded"><i class="icon-upload"></i> 1 day ago</li>
        </ul>
        <ul class="pull-right">
            <li rel="tooltip" title="Tricks count">{{ video.tricks | length }} <i class="icon-facetime-video"></i></li>
            <li rel="tooltip" title="Duration"> {{ video.duration }} <i class="icon-time"></i></li>
            <li rel="tooltip" title="Views">20 <i class="icon-eye-open"></i></li>
        </ul>
    </div>
</div>