{% extends 'BsVideoBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src='http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js'></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/videos.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/upload.css') }}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div ng-controller="PlaybackController">
        <div class="container">
            <div class="row">
                <div class="span9">
                    <div id="yt-player-container">
                        <div id="yt-player"></div>
                    </div>
                </div>
                <div class="span3">
                    {% include 'BsVideoBundle:Trick:_tricks_list.html.twig' %}
                </div>
            </div>
            {#{% include 'BsVideoBundle:Video:_tags.html.twig' %}#}
        </div>
        <div class="container videos">
            <div class="row">

                <div class="span2">
                    <ul class="nav nav-tabs nav-stacked">
                        <li ng-class="isFilter('newest')"><a href="{{ path('video',{"filter":"newest"})}}"><i class="icon-picture"></i> Newest</a></li>
                        <li ng-class="isFilter('popular')"><a href="{{ path('video',{"filter":"popular"})}}"><i class="icon-ok"></i> Popular</a></li>
                        <li ng-class="isFilter('most_viewed')"><a href="{{ path('video',{"filter":"most_viewed"})}}"><i class="icon-bookmark"></i> Most Viewed</a>
                        </li>
                        <li ng-class="isFilter('category')"><a href="{{ path('video',{"filter":"category"})}}"><i class="icon-th-list"></i> Categories</a>
                        </li>
                        <li ng-class="isFilter('recomended')"><a href="{{ path('video',{"filter":"recomended"})}}"><i class="icon-heart"></i> Recomended</a>
                        </li>
                    </ul>
                </div>
                <div class="span10">
                    <div class="row">
                        <div ng-hide="videos.length" class="span10">
                            <div class="progress progress-danger progress-striped active">
                                <div class="bar" style="width: 100%;"></div>
                            </div>
                        </div>
                        <div class="span2 galery" ng-repeat="video in videos">
                            <div ng-click="loadVideo($index)">
                                <div class="video">
                                    <img ng-src="http://img.youtube.com/vi/{{ '{{video.vid}}' }}/hqdefault.jpg"/>
                                </div>
                                <div class="title">
                                    <a class="group" rel="group1" href="#">{{ '{{video.name}}' }}</a>
                                </div>
                            </div>
                            <div class="count">
                                <ul class="pull-left">
                                    <li rel="tooltip" title="Comments"><i class="icon-comment"></i> -</li>
                                    <li rel="tooltip" title="Uploader"><i class="icon-user"></i> limi</li>
                                    <li rel="tooltip" title="Uploaded"><i class="icon-upload"></i> 1 day ago</li>
                                </ul>
                                <ul class="pull-right">
                                    <li rel="tooltip" title="Tricks count">{{ '{{ video.tricks.length }}' }} <i
                                                class="icon-facetime-video"></i></li>
                                    <li rel="tooltip" title="Duration">{{ '{{ video.duration|duration }}' }} <i
                                                class="icon-time"></i></li>
                                    <li rel="tooltip" title="Views">{{ '{{ video.views }}' }} <i
                                                class="icon-eye-open"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}