{% extends 'BsVideoBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" href="{{ asset('css/jquery-ui-1.10.0.custom.css') }}" rel="stylesheet"/>
    <!--[if IE 7]>
    <link type="text/css" href="{{ asset('css/jquery.ui.1.10.0.ie.css') }}" rel="stylesheet"/>
    <![endif]-->
    <link type="text/css" href="{{ asset('css/upload.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js'></script>
    <script src="{{ asset('js/vendor/jquery-ui-1.10.1.custom.js') }}"></script>
    <script src='{{ asset('js/upload.js') }}'></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span4">
                <fieldset>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-globe"></i></span>
                        <input autofocus="autofocus" class="span4" id="yt-url" type="text"
                               placeholder="Youtube video url">
                    </div>
                </fieldset>
                <ul id="yt-meta" class="unstyled hide">
                    <li rel="tooltip" title="Title"><i class="icon-pencil"></i> <span id="yt-title">-</span></li>
                    <li rel="tooltip" title="Author"><i class="icon-user"></i> <span id="yt-uploader">-</span></li>
                    <li rel="tooltip" title="Uploaded"><i class="icon-upload"></i> <span id="yt-uploaded">-</span></li>
                    <li rel="tooltip" title="Views"><i class="icon-eye-open"></i> <span id="yt-views">-</span></li>
                    <li rel="tooltip" title="Duration"><i class="icon-time"></i> <span id="yt-duration">-</span>s</li>
                </ul>
                <div id="yt-trick-control" class="hide">
                    <div id="yt-scroll"
                         class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"></div>
                    <div class="row">
                        <div rel="tooltip" title="Start trick time" class="span1">
                            <input class="span1" id="yt-trick-start" type="text">
                        </div>
                        <div class="span2">
                            <div id="yt-player-position-container">
                                <button id="yt-preview" class="btn"><i class="icon-arrow-left"></i></button>
                        <span rel="tooltip" title="Current player position" id="yt-player-position"
                                ></span>
                                <button id="yt-submit"  class="btn"><i class="icon-arrow-right"></i></button>
                            </div>
                        </div>
                        <div id="yt-trick-end-container" rel="tooltip" title="End trick time" class="span1">
                            <input class="span1" id="yt-trick-end" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <button id="yt-trick-preview" class="btn btn-success">Preview</button>
                            <button id="yt-trick-submit" class="btn btn-danger pull-right">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span5">
                <div id="wrong-url" class="alert alert-error hide">
                    <strong>Oh snap</strong>
                    Seems wrong youtube URL.
                </div>
                <div id="player-container">
                    <div id="player"></div>
                </div>

            </div>
            <div id="tricks-list" class="span3 hide">
                Tricks list:
                <ul class="unstyled">
                    <li>0:23 bs 360</li>
                </ul>
            </div>
        </div>
        {#<div class="row">#}
        {#<div class="span12">#}
        {#<button id="load" class="btn">load</button>#}
        {#<form action="{{ path('video_create') }}" method="post" {{ form_enctype(form) }}>#}
        {#{{ form_widget(form) }}#}
        {#<p>#}
        {#<button type="submit">Edit</button>#}
        {#</p>#}
        {#</form>#}
        {#</div>#}
        {#</div>#}
    </div>
{% endblock %}