{% extends 'BsVideoBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src='http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js'></script>
    <script src='{{ asset('js/upload.js') }}'></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span6">
                <fieldset>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-globe"></i></span>
                        <input class="span6" id="youtube-link" type="text" placeholder="Youtube video url">
                    </div>
                </fieldset>
            </div>
            <div class="span6">
                <div id="wrong-url" class="alert alert-error hide">
                    <strong>Oh snap</strong>
                    Seems wrong youtube URL.
                </div>
                <div id="player-container">
                    <div id="player"></div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="span12">
                <button id="load" class="btn">load</button>
                <form action="{{ path('video_create') }}" method="post" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                    <p>
                        <button type="submit">Edit</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}