{% extends 'BsVideoBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('vendor/jquery/ui/css/jquery-ui-1.10.0.custom.css') }}" rel="stylesheet"/>
    <!--[if IE 7]>
    <link href="{{ asset('vendor/jquery/ui/css/jquery.ui.1.10.0.ie.css') }}" rel="stylesheet"/>
    <![endif]-->
    <link href="{{ asset('css/upload.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js'></script>
    <script src="{{ asset('vendor/jquery/ui/js/jquery-ui-1.10.1.custom.js') }}"></script>
    {#<script src='{{ asset('js/upload.js') }}'></script>#}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" ng-controller="YtController">
            <div class="span4">
                <form ng-submit="loadVideo()">
                    <fieldset>
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-globe"></i></span>
                            <input required="required" autofocus="autofocus"
                                   class="span4"
                                   id="yt-url"
                                   type="text"
                                   placeholder="Youtube video url"
                                   ng-model="videoUrl">
                        </div>
                    </fieldset>
                </form>
                <div ng-cloak ng-show="video.title">
                    <ul class="unstyled">
                        <li rel="tooltip" title="Title"><i class="icon-pencil"></i>
                            <span id="yt-title">{{ '{{ video.title }}' }}</span></li>
                        <li rel="tooltip" title="Author"><i class="icon-user"></i>
                            <span id="yt-uploader">{{ '{{ video.uploader }}' }}</span></li>
                        <li rel="tooltip" title="Uploaded"><i class="icon-upload"></i>
                            <span id="yt-uploaded">{{ '{{ video.uploaded | date:"dd.MM.yyyy" }}' }}</span></li>
                        <li rel="tooltip" title="Views"><i class="icon-eye-open"></i>
                            <span id="yt-views">{{ '{{ video.views | number:0}}' }}</span></li>
                        <li rel="tooltip" title="Duration in seconds"><i class="icon-time"></i>
                            <span id="yt-duration">{{ '{{ video.duration | number:0 }}' }}</span>
                        </li>
                    </ul>
                    <div ng-slider="trick" max="video.duration"
                         class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"></div>
                    <div class="row">
                        <div rel="tooltip" title="Start trick time" class="span1">
                            <input class="span1" type="text" ng-spinner="trick.start">
                        </div>
                        <div class="span2">
                            <div class="yt-player-position-container">
                                <button class="btn" ng-click="trick.start=Math.round(video.position)">
                                    <i class="icon-arrow-left"></i></button>
                                <span rel="tooltip" title="Current player position">{{ '{{ video.position | number:0 }}' }}</span>
                                <button class="btn" ng-click="trick.end=Math.round(video.position)">
                                    <i class="icon-arrow-right"></i></button>
                            </div>
                        </div>
                        <div rel="tooltip" title="End trick time" class="span1 end-trick-slider">
                            <input class="span1" type="text" ng-spinner="trick.end">
                        </div>
                    </div>
                    <div class="row">
                        <button ng-click="previewVideo()" class="span1 btn btn-success">Preview</button>
                        <button ng-click="togglePlay()" class="span2 btn btn-info">
                            <i ng-toggle-class="video.playback" on="icon-play" off="icon-pause" class="icon icon-play"></i>
                        </button>
                        <button ng-click="addVideo()" class="span1 btn btn-danger pull-right">Submit</button>
                    </div>
                </div>
            </div>
            <div class="span5">
                <div id="wrong-url" class="alert alert-error" ng-cloak ng-show="videoUrl && !isValidUrl()">
                    <strong>Oh snap</strong>
                    Seems wrong youtube URL.
                </div>
                <div id="player-container">
                    <div id="player"></div>
                </div>
            </div>
            <div id="tricks-list" class="span3 hide">
                Tricks list:
                <ul class="unstyled">
                    <li>0:23 bs 360</li>
                </ul>
            </div>
        </div>

        <div class="row" ng-controller="TagController">
            {% for group in taggroups %}
                <div class="span4 tag">
                    <strong> {{ group.name }}:</strong>
                    <br>
                    {% for tag in group.tags %}
                        <span ng-click="toggleTag({{ tag.id }})" ng-class="isSelected({{ tag.id }})" class="label">{{ tag.name }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        {#<div class="row">#}
        {#<div class="span12">#}
        {#<button id="load" class="btn">load</button>#}
        {#<form action="{{ path('video_create') }}" method="post" {{ form_enctype(form) }}>#}
        {#{{ form_widget(form) }}#}
        {#<p>#}
        {#<button type="submit">Edit</button>#}
        {#</p>#}
        {#</form>#}
        {#</div>#}
        {#</div>#}
    </div>
{% endblock %}