{% extends 'BsVideoBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/videos.css') }}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
                {% for group in taggroups %}
                    <div class="span12">
                        <strong> {{ group.name }}:</strong>
                        <br>
                        {% for tag in group.tags %}
                            <span class="label">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
        </div>
    </div>



{% endblock %}