<div class="account-container">
    <div class="form-content clearfix">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
              class="fos_user_registration_register">
            {{ form_widget(form._token) }}
            <h1>Registration</h1>
            {{ form_errors(form) }}
            <div class="login-fields">
                <div class="field control-group {% if form.username.vars.errors|length >0 %}error{% endif %}">
                    {% if form.username.vars.errors|length >0 %}
                        <span class="help-block">
                            {{ form_errors(form.username) }}
                        </span>
                    {% endif %}
                    {{ form_widget(form.username, { 'attr': {'class': 'username-field','placeholder':'Username'} }) }}
                </div>
                <div class="field control-group {% if form.email.vars.errors|length >0 %}error{% endif %}">
                    {% if form.email.vars.errors|length >0 %}
                        <span class="help-block">
                            {{ form_errors(form.email) }}
                        </span>
                    {% endif %}
                    {{ form_widget(form.email, { 'attr': {'class': 'email-field','placeholder':'Email'} }) }}
                </div>
                <div class="field control-group {% if form.plainPassword.vars.errors|length >0 %}error{% endif %}">
                    {% if form.plainPassword.vars.errors|length >0 %}
                        <span class="help-block">
                            {{ form_errors(form.plainPassword) }}
                        </span>
                    {% endif %}
                    {{ form_widget(form.plainPassword, { 'attr': {'class': 'password-field','placeholder':'Password'} }) }}
                </div>
            </div>
            <div class="login-last_usernameactions">
                <input type="submit" class="btn-signin btn btn-danger"
                       value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}">
                <a class="btn-signin btn" href="#">Cancel</a>
            </div>
            <p>
                <a href="{{ path('fos_user_security_login') }}">or login</a>
            </p>
        </form>
    </div>
</div>

