{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="account-container">
        <div class="form-content clearfix">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                <h1>Login</h1>

                <div class="login-fields">
                    {% if error %}
                        <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
                    {% endif %}
                    <div class="field">
                        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                        <input class="login username-field" placeholder="Username or Email" type="text" id="username"
                               name="email" value="{{ last_username }}" required="required"/>
                    </div>
                    <div class="field">
                        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                        <input type="password" required="" class="login password-field" placeholder="Password" value=""
                               name="password" id="password">
                    </div>
                </div>
                <div class="login-actions">
				<span class="login-checkbox">
                    <input type="checkbox" class="field login-checkbox" id="remember_me" name="_remember_me"
                           value="on"/>
					<label for="remember_me"
                           class="choice">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
				</span>
                    <input type="submit" class="btn-signin btn btn-danger"
                           value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" name="submit">
                </div>
                <p>
                    <a href="{{ path('fos_user_registration_register') }}">register</a>
                    or
                    <a href="{{ path('fos_user_resetting_request') }}">forgot</a>
                </p>
            </form>
        </div>
    </div>
{% endblock fos_user_content %}
