{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/icon-style.css') }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/vendor/jquery.mousewheel-3.0.6.pack.js') }}"></script>
{% endblock %}
{% block body %}

    <header class="container">
        <div class="row">

            <div class="span1">
                <img src="{{ asset('img/logo2.png') }}"/>
            </div>
            <h1 class="span5 brand">Stop fall</h1>

            <div class="pull-right">
                <a href="{{ path('video_new') }}" class="btn btn-danger btn-large"><strong><i
                                class="icon-upload icon-white"></i> Add
                        trick</strong></a>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="main-menu" class="navbar ">
                    <div class="navbar-inner">
                        <div class="container">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>

                            <div class="nav-collapse">
                                <ul class="nav">
                                    <li class="active">
                                        <a href="index.html">
                                            <i class="icon-film"></i> Watch tricks
                                        </a>
                                    </li>
                                </ul>
                                <ul class="nav pull-right ">
                                    <li class="divider-vertical"></li>
                                    <li rel="tooltip" title="Registration / Login"><a href="signin.html"><i
                                                    class="icon-user"></i> Authorize</a></li>
                                    <li class="divider-vertical"></li>
                                </ul>
                            </div>
                            <!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}

    <footer class="container">
        <hr class="alt"/>
        <div class="row">
            <div class="span6">&copy; 2013 Stop fall. All right reserved.</div>
            <div class="span6">
                <ul>
                    <li><a href="#">Terms Of Service</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
        </div>
    </footer>


{% endblock %}
