{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script>
        bs.constant("URLS", {
            "terms": "{{ path('video_tags')}}",
            "trick_new": "{{ path('trick_create')}}",
            "tricks_load": "{{ path('tricks_load',{ 'vid': ':vid','service': ':service' })}}",
            "riders_load": "{{ path('riders_load')}}",
            "video_load": "{{ path('video_load',{'filter':':filter'})}}",
            "video_load_page": "{{ path('video_load',{'filter':':filter','page':':page'})}}",
            "video_filter": "{{ path('video',{'filter':':filter'})}}",
            "video_filter_page": "{{ path('video',{'filter':':filter','page':':page'})}}"
        });
    </script>
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="main-menu" class="navbar ">
                    <div class="navbar-inner">
                        <div class="container">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>

                            <div class="nav-collapse">
                                <ul class="nav">
                                    <li {% if route == 'video' %}class="active"{% endif %}>
                                        <a href="{{ path('video',{"filter":"newest"}) }}">
                                            <i class="icon-film"></i> Videos
                                        </a>
                                    </li>
                                    <li {% if route == 'term' %}class="active"{% endif %}>
                                        <a href="{{ path('term') }}">
                                            <i class="icon-book"></i> Library
                                        </a>
                                    </li>
                                </ul>
                                <ul class="nav pull-right ">
                                    <li class="divider-vertical"></li>
                                    <li rel="tooltip" title="Registration / Login"><a
                                                href="{{ path('fos_user_security_login') }}"><i
                                                    class="icon-check"></i> Enter</a></li>
                                    <li class="divider-vertical"></li>
                                </ul>
                            </div>
                            <!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="span12">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for key, message in messages %}
                        <div class="alert alert-{{ type }}">
                            <button data-dismiss="alert" class="close" type="button">×</button>
                            {{ message|trans }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div ng-app="bs">
        {% block content %}{% endblock %}
    </div>

{% endblock %}
